# Python
__pycache__/

# Libraries and Models
CLIP/
taming-transformers/
taming/
checkpoints/

# Editor
.vscode/

# Operations
outputs/
steps/

# Files
output.png
steps.mp4

# Results Tracking
AI Architecture Testing.xlsx
~$AI Architecture Testing.xlsx